/* صوره الميتينج ياعمرو انت و باقي التيم */ 
.meeting-img {
    width: 80%;
    height: auto;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom
}

/* صور الأعضاء */
.team-member img {
    width: 5.6rem; 
    height: 5.6rem; 
    object-fit: cover;
    object-position:center top;
    border-radius: 50%;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-title {
    margin-top: 0;
    position: relative;
    top: -1rem;
}

@media (max-width: 768px) { 
    .meeting-img {
        max-width: 100%;
    }

    .team-member {
        margin-bottom: 1.25rem; 
    }
}
